.img
{
    height:300px;
    width:300px;
    border:coral 1px solid;
}
body{
    background-color:black;
    color:greenyellow;
}
.p
{
    font-size: 20px;
}
.con
{
    border:cornflowerblue 1px solid;
}
button
{
    height:60px;
    width:150px;
    background-color: orange;
    color:white;
    margin-left: 60px;
}
.btn1
{
    height:70px;
    width:400px;
    background-color: cornflowerblue;
    color:crimson;
    font-size: 30px;
}